<!DOCTYPE html>
<html>
<head>
  <title>Schema of parking</title>
</head>
<body>
<div><%= button_to 'Home', '/', method: :get , class: 'btn btn-lg center-block btn-primary'%></div>
<div class="col-xs-12 text-center"><%= image_tag(@schema_path) %></div>
</body>
</html>